.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
body{
  background-color: rgb(0, 0, 0);
  color: aqua;
}