{% extends 'base.html' %}
{% block body_block %}
<div class="container-fluid">
    <div class="jumbotron">
        <h3>Welcome to the notes se</h3>
        <p>the following are some of the available notes for this Course</p>
        <p> 1
BACHELOR OF COMMERCE <br>
Duration : Nine Semesters<br>
Course Units : 48<br>
Department : Accounting and Finance<br>
School : Business and Economics<br>
Course Structure<br>
YEAR 1 SEMESTER 1<br>
Course Code Course Title Semester Credit Lecture Hour (hrs/week)<br>
BUCU 2101 Communication Skills 1 3 3<br>
BUCU 2102 Cooperative Philosophy 1 3 3<br>
BCOM 2101 Principles of<br>
Microeconomics 1 3 3<br>
BCOM 2102 Financial Accounting I 1 3 3<br>
BCOM 2103 Computer Applications 1 3 3<br>
BUCU 2103 Life Skills 1 3 3<br>
BCOM 2104 Foundation of Mathematics 1 3 3<br>
BCOM 2105 Principles and Practice of<br>
Management 2 3 3<br>
BUCU 2104 Development Studies and<br>
Ethics 2 3 3<br>
BCOM 2106 Financial Accounting II 2 3 3<br>
BCOM 2107 Principles of<br>
Macroeconomics 2 3 3<br>
BCOM 2108 Entrepreneurship Skills 2 3 3<br>
BCOM 2109 Principles of Marketing 2 3 3<br>
BCOM 2201 Principles of Auditing 3 3 3<br>
2
BCOM 2202 Cost Accounting 3 3 3<br>
BCOM 2203 Business Law 3 3 3<br>
BCOM 2204 Principles of Purchasing<br>
and Supplies 3 3 3<br>
BCOM 2205 Intermediate<br>
Microeconomics 3 3 3<br>
BCOM 2206 Introduction to Financial<br>
Management 3 3 3<br>
BCOM 2207 Management Accounting 4 3 3<br>
BCOM 2208 Taxation 4 3 3<br>
BCOM 2209 Intermediate<br>
Macroeconomics 4 3 3<br>
BCOM 2210 Human Resource<br>
Management 4 3 3<br>
BCOM 2211 Money and Banking 4 3 3<br>
BCOM 2212 Business Statistics 4 3 3<br>
BCOM 2301 Strategic Management 5 3<br>
3<br>
BCOM 2302 Risk Management 5 3<br>
3<br>
BCOM 2303 Financial Statement<br>
Analysis<br>
5 3<br>
3<br>
Depending on the Specialization the units chosen include :<br>
Accounting Option;<br>
BCAA 2301 Public Sector Accounting 5 3<br>
3<br>
BCAA 2302 Intermediate Accounting I 5 3<br>
3<br>
BCAA 2303 Advanced Taxation 5 3<br>
3<br>
Finance Option;<br>
BCFF 2301 Advanced Financial<br>
Management<br>
5 3<br>
3<br>
3<br>
BCFF 2302 Financial institutions and<br>
Markets<br>
5 3<br>
3<br>
BCFF 2303 Project Appraisal 5 3<br>
3<br>
Banking Option;<br>
BCBB 2301 Principles of Banking 5 3<br>
3<br>
BCBB 2302 Financial Institutions and<br>
Markets<br>
5 3<br>
3<br>
BCBB 2303 Banking Law and Practice 5 3<br>
3<br>
Marketing Option;<br>
BCMM 2301 Consumer behaviour 5 3<br>
3<br>
BCMM 2302 Sales Management 5 3<br>
3<br>
BCMM 2303 Marketing Management 5 3<br>
3
Human Resource Option;
BCHH 2301 Procurement of Human
Resources
5 3
3
BCHH 2302 Human Resource
Development
5 3
3
BCHH 203 Employee Relations 5 3
3
Purchasing & Supplies Option;
BCPP 2301

Stores Management and
Stock Control
5 3
3
BCPP 2302 Supplies and Materials
Management I
5 3
3
BCPP 2303 Retail and Merchandise
Management
5 3
3
BCOM 2304 Research Methods 6 3
3
BCOM 2305 Company Law 6 3
3
4
BCOM 2306 Total Quality Management 6 3
3
Depending on the Specialization the units chosen include :
Accounting Option;
BCAA 2304 Intermediate Accounting II 6 3
3
BCAA 2305 Bankruptcy and Insolvency
Accounts
6 3
3
BCAA 2306 Trust & Executorships
Accounting
6 3
3
Finance Option;
BCFF 2304 Investment Analysis and
Portfolio Management
6 3
3
BCFF 2305 Financial Management in
Public Sector
6 3
3
BCBB 2306 Credit Management 6 3
3
Banking Option;
BCBB 2304 Monetary Theory and
Practice
6 3
3
BCBB 2305 Islamic Finance 6 3
3
BCBB 2306 Credit Management 6 3
3
Marketing Option;
BCMM 2304 - Marketing Logistics 6 3
3
BCMM 2305 Marketing Research 6 3
3
BCMM 2306 Industrial Marketing 6 3
3
Human Resource Option;
BCHH 2304 Performance Management 6 3
3
5
BCHH 2306 Reward Management Reward Management 6 3
3
BCHH 2305 Employment Laws 6 3
3
Purchasing & Supplies;
BCPP 2304
Inventory Management 6 3
3
BCPP 2305
Distribution
&Warehousing
6 3
3
BCPP 2306 Supplies and Materials
Management II
6 3
3
BCOM 2307 Industrial Attachment 7 3
3
BCOM 2401 Research Project I 8 3
3
BCOM 2402 Technology and Innovation 8 3
3
ONE Humanity Elective: Table I
Depending on the Specialization the units chosen include :
Accounting Option;
BCAA 2401 Financial Reporting 8 3
3
BCA A 2402 Advanced Auditing 8 3
3
BCAA 2403 Computerised Accounting 8 3
3
Finance Option;
BCFF 2401 International Finance 8 3
3
BCFF 2402 Pensions Finance 8 3
3
BCFF 2403 Financial Risk
Management
8 3
3
Banking Option;
BCBB 2401 International Finance 8 3
3
6
BCBB 2402 International Banking 8 3
3
BCBB 2403 Central Banking and
Monetary Management
8 3
3
Marketing Option;
BCMM 2401 Strategic Marketing 8 3
3
BCMM 2402 Marketing Communication
Strategy
8 3
3
BCMM 2403 Advertising 8 3
3
Human Resource Option;
BCHH 2401 Labour Economics 8 3
3
BCHH 2402 Public Relations 8 3
3
BCHH 2403 Leadership and Team
Building
8 3
3
Purchasing & Supplies Management;
BCPP 2401 Purchasing Policy and
Strategy
8 3
3
BCPP 2402 Transport Economics 8 3
3
BCPP 2403 Materials Handling and
Storage Management
8 3
3
BCOM 2403 Research Project II 9 3
3
BCOM 2404 Project Management 9 3
3
Depending on the Specialization the units chosen include :
Accounting Option;
BCAA 2404 Forensic Accounting 9 3
3
7
BCAA 2405 Advanced Financial
Reporting
9
3
3
BCAA 2406 Contemporary issues in
Management Accounting
9
3
3
Finance Option;
BCFF 2404 Financial Modeling and
Forecasting
9
3
3
BCFF 2405 Contemporary Issues in
Financial Management
9
3
3
BCFF 2406 Real Estate Finance
9
3
3
Banking Option
;
BCBB 2404 Financial Risk
Management
9
3
3
BCBB 2405 Financial Regulations
9
3
3
BCBB 2406 Management of Financial
Institutions
9
3
3
Marketing Option:
BCMM 2404 Service Marketing
9
3
3
BCMM 2405 Strategic Brand
Management
9
3
3
BCMM 2406 International Marketing
9
3
3
Human Resource Management
;
BCHH 2404 Work place counseling
9
3
3
BCHH 2405 Strategic Human Resource
Management
9
3
3
BCHH 2406 Contemporary issues in
Human Resource
Management
9
3
3
Purchasing & Supplies Management
;
8
BCPP 2404 International Purchasing
9 3
3
HCPP 2405
Logistics in Purchasing and
Supplies
9 3
3
BCPP 2406 Tactics and Operations in
Purchasing and Supplies
9 3
3
HUMANITY UNITS (ELECTIVE)
Table I
CODE UNITS Credit Lecture Hour (hrs/week)
BCOM 2501 Sociology 3 3
BCOM 2502 Constitution and Governance 3 3
BCOM 2503 Gender and Development 3 3</p>
    </div>
</div>
{% endblock %}